<!DOCTYPE html>
<html lang="en">
	<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	
	<!--CSS-->
  	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
  	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	
	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">


	<!--JS-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/static/js/scripts.js"></script>

	<title>
		Billigastpablocket
	</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="logo">
				Billigast på blocket!
			</div>
			<div class="body-element">
				<div class="text-input">
					<div class="margin-bottom">
						<h2 class="element-text">Sälj för rätt pris</h2>
						<p class="element-text">Vi hjälper dig att hitta ett bra pris för att sälja dina begagnade prylar! Vi tar med hjälp av data fram det högsta, lägsta och genomsnittspriset på alla produkter till salu på blocket.se.</p>
					</div>
					<p class="element-text">
						Sök på den produkt du vill veta prisnivå på:
					</p>
					<div class="mobile-center">
						<input id="searchTerm" type="text" placeholder="Ex. Volvo V70...">
						{% csrf_token %}
						<input onclick="submitSearch()" type="submit" value="Sök">
					</div>
				</div>
				<div id="results" class="result">
					<div class="result-row">
						<img src="https://maxcdn.icons8.com/Android/PNG/24/Shopping/cheap-24.png" title="Cheap" width="24">
						<span class="result-text" id="result-text-1">
						</span>
					</div>
					<div class="result-row">
						<img src="https://maxcdn.icons8.com/Android/PNG/24/Shopping/average-24.png" title="Average" width="24">
						<span class="result-text" id="result-text-2">
						</span>
					</div>
					<div class="result-row">
						<img src="https://maxcdn.icons8.com/Android_L/PNG/24/Ecommerce/expensive-24.png" title="Expensive" width="24">
						<span class="result-text" id="result-text-3">
						</span>
					</div>
				</div>
				<div id="error">
					Vi hittade tyvärr ingen sån produkt!
				</div>
			</div>
  		</div>
	</body>
</html>
